.mainCountdown {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-block: 2rem;
	width: auto;
	font-size: clamp(0.5rem, 1.4rem, 1.4rem);
	display: flex;
	justify-content: center;
}

.lists {
	display: flex;
	gap: 1rem;
}

.button {
	width: 100%;
	height: 3rem;
	background: #0B132B;
	color: white;
	border-radius: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	margin-block: 0.5rem;
}

@media (max-width: 540px) {
	.lists {
		flex-direction: column;
	}
}